* {
    box-sizing: border-box;
}
.accordian {
    background-color: rgb(130, 173, 211);
    width: 80%;
    border: none;
    outline: none;
    padding: 6px 10px;
    text-align: left;
    cursor: pointer;
    transition: 0.4s;
    border-bottom: 1px solid white;
}
.accordian:hover {
    background-color:rgb(28 94 151);
}
.accordian::after {
    content: "+";
    float: right;
    margin-right: 1%;
    font-size: 20px;
}
.active::after {
    content: "-";
}
.active {
    background-color: rgb(28 94 151);
}
.panel {
    display: none;
    background-color:#e5fafa;
    width: 80%;
    padding: 10px;
}