h2 {
  font-family: 'comic sans', cursive;
  font-size: 25px;
  position: absolute;
  top: 45%;
  left:8%;
}
#bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
}
body,html{
  min-width:100%;
  min-height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  min-height: 30rem;
  min-width:50rem;
  background-size: cover;
  background-position: center center;
  overflow:hidden;
  position:relative;
  border: 1px solid black;
}

.bird {
  background-size: auto 100%;
  width: 180px;
  height: 125px;
  background-image: url("bird-cells.svg");
  animation-name: fly-cycle1;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: -0.5s;   
  border: 5px solid black;
  z-index: 1;
}

.bird-container {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20%;
  left: -10%;
  animation-name: fly-right-one1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-delay: 0;
}

@keyframes fly-cycle {  
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-right-one {
  
  0% {
    transform: scale(0.3) translateX(-10vw);
  }
  
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  
  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  
}

@keyframes fly-right-two {
  
  0% {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }
  
  10% {
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }
  
  20% {
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }
  
  30% {
    transform: translateY(1vh) translateX(50vw) scale(0.45);
  }
  
  40% {
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }
  
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.45);
  }
  
  51% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  
}
